* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 50px auto 0;
  text-align: center;
}

#stopwatch {
  padding-top: 30px;
  font-size: 40px;
}

#buttons {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  justify-content: space-around;
}

button {
  width: 120px;
  height: 50px;
}